* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-left: 40px;
    margin-top: 10px;
}

ul {
    color: #ffffff;
}

li {
    display: inline-block;
    background-color: #000000;
    padding: 50px;
    margin: 40px;
    width: 300px;
    height: 150px;
    border: 4px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

li strong {
    font-size: x-large;
}

.selected {
    border: 4px solid #255afa;
    background-color: #292929;
}

.hidden {
    display: none;
}