/*seletor :nth-child()*/
li:nth-child(2) {
    color: #f00;
}

li:nth-child(3n) {
    color: #00f;
}

li:hover {
    background-color: #232323;
    color: #fff;
}

input:focus {
    background-color: #f00;
}

/*pseudo-elementos -> ::before ::after*/
li::before {
    content: "(antes)";
}

li::after {
    content: "(depois)";
}

li:first-child {
    color: rgb(255, 174, 0);
}

li:last-child {
    color: rgb(255, 8, 179);
}

li:not(:first-child) {
    color: rgb(0, 119, 255);
}

