header {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h1 {
    font-family: monospace;
    font-weight: 100;
}

h2 {
    font-size: 16px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

p {
    font-family: 'montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}