* {
    box-sizing: border-box;
    font-family: 'montserrat',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343434;
    text-align: center;
}

header li {
    display: inline-block;
    padding: 1rem;
    margin-left: 6rem;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

#home {
    position: relative;
    min-height: 100vh;
}

.home__background {
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.home__foreground {
    text-align: center;
    color: #fff;
    padding-top: 20vh;
}

.home__title {
    font-size: 2rem;
    font-weight: 500;
}

.home__text {
    margin: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 300;
}

.home__button {
    background: linear-gradient(to bottom right, rgb(252, 189, 1), rgb(147, 105, 0));
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    color: #000;
    font-weight: 600;

}

#cardapio {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#cardapio h2 {
    margin-bottom: 3rem;
}

#cardapio li img {
    width: 380px;
    height: 280px;
    margin-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#cardapio li strong{
    padding: 1rem;
}

#cardapio li p {
    padding: 1rem;
}

#cardapio li {
    display: inline-block;
    text-align: left;
    background-color: #b7b7b7;
    margin: 2rem;
    max-width: 380px;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 2rem -0.5rem rgba(0, 0, 0, .8);
}


#sobre {
    position: relative;
    min-height: 50vh;
    background: linear-gradient(to bottom, transparent, 30%, rgba(0, 0, 0, .8));
}

.sobre__background {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100%;
    z-index: -10;
}

.sobre__foreground {
    text-align: center;
    color: #fff;
    padding-top: 20vh;

}

.sobre__title {
    font-size: 2rem;
    font-weight: 500;
}

.sobre__text {
    margin: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

#contato {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#contato h2 {
    margin-bottom: 2rem;
}

address p{
    display: inline-block;
    margin-left: 2rem;
    text-align: left;
    max-width: 400px;
    margin-bottom: 4rem;
}

address p em {
    font-weight: bold;
}

address p a {
    color: #fcbd01;
    text-decoration: none;
}

.contato__button {
    background: linear-gradient(to bottom right, rgb(252, 189, 1), rgb(147, 105, 0));
    text-decoration: none;
    text-transform: lowercase;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    color: #000;
    font-weight: 600;
}

footer {
    background-color: #000;
    color: #fcbd01;
    text-align: center;
    padding: 3rem;
}



